
<div class="row">
  <div class="col-xs-12 text-center">
    <h1>Our Sponsors</h1>
  </div>
</div>
<br>
<br>
<div class="row">
  <div class="col-4-md">
    <div class="card card-inverse card-btn ripple" id="dringo-logo">
      <%= link_to "http://dringo.io", class: "text-decoration-none", target: "_blank" do %>
          <%= image_tag( "dringo.png", class: "card-image", alt: "Dringo") %>
      <% end %>
    </div>
  </div>
  <div class="col-4-md">
    <div class="card card-btn ripple">
      <%= link_to "http://www.striximaging.com", class: "text-decoration-none", target: "_blank" do %>
        <div class="card-block">
          <%= image_tag( "striximaging.svg", class: "d-block img-fluid slogo", id: "striximaging-logo", alt: "Dringo") %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-4-md">
    <div class="card card-btn ripple">
      <%= link_to "http://allgosocial.com", class: "text-decoration-none", target: "_blank" do %>
        <div class="card-block scard">
          <%= image_tag( "Allgo.png", class: "d-block img-fluid slogo", id: "allgo-logo", alt: "Allgo") %>
        </div>
      <% end %>
    </div>
  </div>
</div>
