<div class="bmd-layout-container bmd-drawer-f-l bmd-drawer-overlay">
  <header class="bmd-layout-header">
    <div class="navbar navbar-light bg-faded">
      <button class="navbar-toggler hidden-lg-up pull-right" type="button" data-toggle="drawer" data-target="#dw-s2">
        <span class="sr-only">Toggle drawer</span>
        <i class="material-icons">menu</i>
      </button>
      <ul class="nav navbar-nav">
        <%= link_to root_path, class: "text-decoration-none" do %>
          <%= image_tag("CapstoneConnect_logo_symbol.png", class: "img-nav-brand img-nav-bar-brand d-inline-block align-top", alt: "logo") %>
          <span class="hidden-md-down cclogo-text">CapstoneConnect</span>
        <% end %>
        <li class="nav-item hidden-md-down pull-right">
          <%= link_to contact_path, class: "nav-link" do %>
            Contact Us
          <% end %>
        </li>
        <li class="nav-item hidden-md-down">
          <%= link_to ip_path, class: "nav-link" do %>
            IP
          <% end %>
        </li>
      </ul>
    </div>
  </header>
  <div id="dw-s2" class="bmd-layout-drawer bg-faded">
    <header>
      <%= link_to root_path, class: "text-decoration-none" do %>
        <%= image_tag("CapstoneConnect_logo_symbol.png", class: "img-nav-brand d-inline-block align-top", alt: "logo") %>
        CapstoneConnect
      <% end %>
    </header>
    <hr>
    <ul class="list-group">
      <%= dashboard_nav_link '<i class="material-icons">email</i> Contact'.html_safe, contact_path, 'btn list-group-item lowercase'  %>
      <%= dashboard_nav_link '<i class="material-icons">description</i> IP Docs'.html_safe, ip_path, 'btn list-group-item lowercase'  %>

    </ul>
  </div>
  <main class="bmd-layout-content">
    <%= yield %>
  </main>
</div>
